<form method="post" enctype="multipart/form-data" action="/Home/UploadPhoto">
    <label for="photo">Fotoğraf Yükle:</label>
    <input type="file" id="photo" name="photo" accept="image/*" required />
    <button type="submit">Gönder</button>
</form>