@{
    Layout = "_LayoutCustomer.cshtml";
}


<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h4>Saç & Sakal Stil Önerileri</h4>
            <pre style="white-space: pre-wrap;">@ViewBag.Analysis</pre>
        </div>
    </div>
</div>